language: php
php:
  - 5.6
  - 7.0
  - 7.1
  - 7.2
  
env:
  global:
    - CORE_BRANCH=master
  matrix:
    - DB=sqlite

branches:
  only:
    - master
    - /^stable\d+(\.\d+)?$/

before_install:
  - wget https://raw.githubusercontent.com/owncloud/administration/master/travis-ci/before_install.sh
  - bash ./before_install.sh templateeditor $CORE_BRANCH $DB

script:
  # Test lint
  - cd ../core/apps/templateeditor
  - sh -c "if [ '$DB' = 'sqlite' ]; then ant test; fi"

  # Run phpunit tests
  # - cd tests
  # - phpunit --configuration phpunit.xml

  # Create coverage report
  # - wget https://scrutinizer-ci.com/ocular.phar
  # - php ocular.phar code-coverage:upload --format=php-clover clover.xml

matrix:
  fast_finish: true
