parameters:
  inferPrivatePropertyTypeFromConstructor: true
  bootstrapFiles:
    - %currentWorkingDirectory%/../../lib/base.php
  ignoreErrors:
    -
      message: '#Property OCA\\TemplateEditor\\Http\\MailTemplateResponse::\$contentType is never read, only written.#'
      path: lib/Http/MailTemplateResponse.php

